.popular {
    padding-bottom: 120px;
}
@media screen and (max-width: 1023.98px) {
    .popular {
        padding-bottom: 100px;
    }
}
@media screen and (max-width: 768.98px) {
    .popular {
        padding-bottom: 80px;
    }
}
